///////////////////////////
/// COLORS

$color-soft-red: hsl(0, 94%, 66%);
$color-soft-blue: hsl(231, 69%, 60%);
$color-grayish-blue: hsl(229, 8%, 60%);
$color-dark-blue: hsl(229, 31%, 21%);

///////////////////////////
/// TEXT

$color-text-dark: #333;

///////////////////////////
/// RESPONSIVE BREAKPOINTS

$bp-xl: 66.875em; //1070px
$bp-lg: 56.25em; //900px
$bp-md: 46.875em; //750px
$bp-sm: 40.625em; // 650px
